@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes neonFlicker {
  0%,
  2%,
  4%,
  6%,
  8% {
    opacity: 0.6;
  }

  1%,
  3%,
  5%,
  7%,
  9% {
    opacity: 1;
  }
}

.neon-flicker {
  animation: none;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.neon-flicker:hover {
  animation: neonFlicker 2s ease-in-out forwards;
  text-shadow: 0 0 2px #fecdd3, 0 0 10px #fecdd3;
}

.neon-flicker-rand {
  animation: neonFlicker 2s ease-in-out forwards;
  text-shadow: 0 0 2px #fecdd3, 0 0 10px #fecdd3;
}

.orb {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  z-index: -1;
}

.hover-orb:hover + .orb {
  opacity: 1;
  transform: translate(-50%, -50%) scale(2);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #fda4ae8b, #a5f3fc7f);
}

::-webkit-scrollbar-thumb {
  background: #09090b;
}

::-webkit-scrollbar-thumb:hover {
  background: #27272a;
}
